@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #242424;
}
.container {
  margin: auto;
  margin-top: 2em;
  height: 90vh;
  width: 80%;
  background-image: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFpbnl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-color: antiquewhite;
  background-size: cover;
  background-position: center;
}
.section-rhs {
  /*display: flex;
  justify-content: flex-end;*/
  /*box-shadow: 10px 5px 5px black;*/
  float: right;
  width: 35%;
  height: 90vh;
  opacity: 0.8;
  background-color: /*#3d4d4c*/ #24302f;
  background-attachment: scroll;
  backdrop-filter: 5px;
  font-family: "Roboto", sans-serif;
}

.rhs {
  /*background-color: rgb(32, 32, 43);*/
  /*box-shadow: 0px 0px 10em rgba(153, 11, 11, 0.774);*/
}
.rhs-content {
  margin-left: 1.5em;
}
.search {
  display: flex;
  color: #575e5e;
}
input {
  /*margin: 1.5em;*/
  margin-top: 1.5em;
  border-bottom: 1.5px solid #627977 !important;
  padding-left: 0;
  padding-bottom: 8px;
  outline: none;
  padding-right: 116px;
  border: none;
  background-color: transparent;
}
.search_btn {
  border: solid 1px;
  border-bottom: transparent !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  outline: none;
  justify-content: center;
  align-items: center;
  background-color: #81a09a;
  border: none;
  border-radius: 1px;
}
.search_logo {
  width: 22px;
  height: 29px;
}
.weatherDetails {
  margin: 1em;
  margin-top: 2em;
  margin-left: 0;
}
.header {
  color: #eee;
  border-bottom: 1.5px solid #627977 !important;
  padding-bottom: 10px;
  margin-bottom: 2em;
}
.weatherDetails ul {
  list-style: none;
  padding-left: 0;
}
.weatherDetails ul li {
  padding: 1em;
  padding-left: 0;
  color: gray;
}
.weatherDetails ul li span {
  color: #eee;
  float: right;
}
.lhs {
  color: #eee;
  position: relative;
  top: 20em;
  margin: 1em;
  margin-left: 2em;
  font-family: "Lato", sans-serif;
}
.lhs-content {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.temperature {
  font-size: 4rem;
  letter-spacing: 3px;
}
.location {
  font-size: 2.1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5px;
}
.location span {
  font-size: 18px;
}
.weather {
  font-size: 1.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 35px;
  top: 15px;
}
.weather span {
  font-size: 18px;
  position: relative;
}
