@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #242424;
  font-family: "Lato", sans-serif;
}
.container {
  background: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFpbnl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
input {
  border: none;
  outline: none;
  background-color: gainsboro;
}
.search_btn {
  border: none;
  outline: none;
}
.search_logo {
  width: 22px;
  height: 29px;
}
::placeholder {
  color: gray;
}
.lhs {
  color: #dedfe8;
}
.temperature {
  color: #ebedec;
}
.weather-icon img {
  filter: invert(100%);
}
.location {
  color: #eee;
  font-weight: 500;
}
.location span {
  font-weight: 400;
  color: #dedfe8;
  font-size: 18px;
}
.weatherDetails ul li {
  color: #b7b7a4;
}
.weatherDetails ul li span {
  color: #ebedec;
}
@media screen and (max-width: 860px) {
  .container {
    width: 100%;
    height: 130vh;
  }
  .search {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  input {
    padding: 0.5em;
    margin-top: 1em;
    width: 100%;
  }
  ::placeholder {
    font-size: 14px;
  }
  .search_btn {
    padding: 0.5em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: gainsboro;
  }
  .lhs {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .temperature {
    font-size: 4rem;
    letter-spacing: 2px;
  }
  .weather {
    bottom: 2em;
    position: relative;
  }
  .weather span {
    font-size: 22px;
  }
  .weather-icon img {
    width: 80px;
  }
  .location {
    font-size: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    top: 6em;
  }
  .weatherDetails {
    position: relative;
    top: 35em;
    overflow-x: auto;
    width: 100%;
  }
  .header {
    display: none;
  }
  .weatherDetails ul {
    list-style: none;
    display: flex;
    border-collapse: collapse;
    border-spacing: 0;
    width: 160vh;
    font-size: 1.2rem;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
  }
  .weatherDetails ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2em;
  }
  .weatherDetails ul li span {
    margin-top: 25px;
  }
}

@media screen and (min-width: 860px) {
  .bgClear {
    background-color: #6db5e6 !important;
  }
  .container {
    margin: auto;
    margin-top: 2em;
    height: 90vh;
    width: 90%;
  }
  .section-rhs {
    float: right;
    width: 35%;
    height: 90vh;
    background-color: #24302f;
    background-attachment: scroll;
    backdrop-filter: 5px;
    opacity: 0.8;
  }
  .rhs-content {
    margin-left: 2em;
  }
  .temperature {
    letter-spacing: 4px;
  }
  .search {
    display: flex;
    justify-content: flex-end;
  }

  input {
    margin-top: 1.5em;
    border-bottom: 1.5px solid gray !important;
    padding-left: 0;
    padding-bottom: 8px;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    color: white;
  }
  input:focus {
    border-bottom-color: palegreen !important;
    color: palegreen;
  }
  .search_btn {
    border-bottom: transparent !important;
    width: 55px;
    height: 55px;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
  }
  .weatherDetails {
    margin: 1em;
    margin-top: 2em;
    margin-left: 0;
  }
  .header {
    color: #ebedec;
    border-bottom: 1.3px solid #aaa !important;
    padding-bottom: 10px;
    margin-bottom: 1em;
  }
  .weatherDetails ul {
    list-style: none;
    padding-left: 0;
  }
  .weatherDetails ul li {
    padding: 1em;
    padding-left: 0;
  }
  .weatherDetails ul li span {
    float: right;
  }
  .sunsetParent {
    border-bottom: 1.3px solid #aaa;
    margin-bottom: 1em;
  }
  .lhs {
    position: relative;
    top: 15em;
    margin: 1em;
    margin-left: 2em;
  }
  .lhs-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  .temperature {
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: 700;
  }
  .location {
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5px;
    color: #eee;
    font-weight: 500;
    line-height: 40px;
  }
  .weather {
    display: flex;
    flex-direction: column;
    line-height: 21px;
    position: relative;
    bottom: 8px;
  }
  .weather span {
    font-size: 18px;
    position: relative;
    left: 10px;
  }
  .weather-icon img {
    width: 60px;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    width: 80%;
  }
  .lhs {
    top: 20em;
  }
  .lhs-content {
    width: 50%;
  }
}
