@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #242424;
  font-family: "Lato", sans-serif;
}
.bgClear {
  background-color: #6db5e6 !important;
}
.container {
  margin: auto;
  margin-top: 2em;
  height: 90vh;
  width: 80%;
  background-image: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFpbnl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-rhs {
  float: right;
  width: 35%;
  height: 90vh;
  background-color: #24302f;
  background-attachment: scroll;
  backdrop-filter: 5px;
  opacity: 0.8;
}
.rhs-content {
  margin-left: 2em;
}
.search {
  display: flex;
}
input {
  margin-top: 1.5em;
  border-bottom: 1.5px solid #aaa !important;
  padding-left: 0;
  padding-bottom: 8px;
  outline: none;
  padding-right: 118px;
  border: none;
  background-color: transparent;
  caret-color: white;
  color: white;
}
input:focus {
  border-bottom-color: palegreen !important;
  color: palegreen;
}
::placeholder {
  color: white;
  font-size: 16px;
}
.search_btn {
  border-bottom: transparent !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  outline: none;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  border-radius: 1px;
  border: none;
}
.search_logo {
  width: 22px;
  height: 29px;
}
.weatherDetails {
  margin: 1em;
  margin-top: 2em;
  margin-left: 0;
}
.header {
  color: #ebedec;
  border-bottom: 1.3px solid #aaa !important;
  padding-bottom: 10px;
  margin-bottom: 1em;
}
.weatherDetails ul {
  list-style: none;
  padding-left: 0;
}
.weatherDetails ul li {
  padding: 1em;
  padding-left: 0;
  color: #b7b7a4;
}
.weatherDetails ul li span {
  color: #ebedec;
  float: right;
}
.sunsetParent {
  border-bottom: 1.3px solid #aaa;
  margin-bottom: 1em;
}
.lhs {
  color: #dedfe8;
  position: relative;
  top: 20em;
  margin: 1em;
  margin-left: 2em;
}
.lhs-content {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.temperature {
  font-size: 4rem;
  letter-spacing: 3px;
  color: #ebedec;
  font-weight: 700;
}
.location {
  font-size: 2.1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5px;
  color: #eee;
  font-weight: 500;
  line-height: 40px; /*0*/
}
.location span {
  font-size: 18px;
}
.weather {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 21px; /*15px*/
  bottom: 10px;
}
.weather span {
  font-size: 18px;
  position: relative;
  left: 10px;
}
.weather-icon img {
  width: 60px;
  filter: invert(100%);
}
